 <div class="createcontent">
        <h5 class="rules">Before you submit your book, please read our <a href="#popup1">Terms and Conditions</a>!</h5>
        <div id="popup1" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <ul>
                        <li>Fill out all fields.</li>
                        <li>Folow the format rules.</li>
                        <li>Books with a cover, have a better chance of being sold.</li>
                        <li>Please, no profanities!</li>
                        <li>Have fun and enjoy our website!</li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="container-submit">
        <form method="post" action="/api/book/create" class="submitcont" >
                <div class="form-group">
                    <label for="formGroupExampleInput">Book Title</label>
                    <input type="text" class="form-control"  placeholder="Enter book title" name="title" >
                    </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput">Author</label>
                    <input type="text" class="form-control"  placeholder="Enter the book's author" name="author" >
                    </div>
            
                    <div class="form-group">
                    <label for="formGroupExampleInput">Price</label>
                    <input type="number" min="5.00" max="100.00" step="0.01" class="form-control"  placeholder="5.00" name="price"  >
                    </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput">Description</label>
                    <input type="text" class="form-control"  placeholder="Enter a brief description" name="description" >
                    </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput">Book Cover</label>
                    <input type="text" class="form-control"  placeholder="Submit the cover URL" name="jpegImg">
                    </div>
                    <input name="submit" type="submit" class="btn submit-btn" value="Submit your book">
            </form>
			<span class="todo-container">
			</span>
    </div>
</div>
<div class="termsandreg" id="terms">

</div>
