<div class="imageandwelcome">
            <img src="../../public/assets/images/confirmed.png" style="width:350px; height: 300px;" class="girlreading">
            <h2 class="yourcart"> Congratulations! Your order is confirmed!</h2>
        </div>